:root {
    --chessBoardWhite: rgb(233, 192, 134);
    --chessBoardBlack: rgb(158, 48, 31);
}

.serverContainer {
    border-width: .1em;
    border-style: solid;
    border-radius: 1em;
    width: 5em;
    height: 8em;
    margin: 1em;
    padding: .5em;
}

#contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
    max-height: 50vh;
    max-width: 10em;
}

.serverContainer:nth-child(even) {
    background-color: var(--chessBoardBlack);
    color: var(--chessBoardWhite);
}

.serverContainer:nth-child(odd) {
    background-color: var(--chessBoardWhite);
    color: var(--chessBoardBlack);
}